{% extends "base.html" %}

{% block content %}
<h3>Partidas</h3>
<a class="btn btn-info" href="{{ url_for('partida_add') }}">Cadastrar</a>
{% if result %}
{% for r in result %}
<br>
  {% if not r.placar_time1 %}
  <div class="card">
    <div class="card-block">
      <p class="card-text">Local: {{r.local}}</p>
      <p class="card-text text-justify">{{ r.time1_id }} Vs {{ r.time2_id }}</p>      
  <form class="form-group" method="POST" action="{{ url_for('aposta_add', partida_id=r.id) }}">
    <div class="form-group row">
      <div class="col-xs-1">
        <label for="gols_time1">{{ r.time1_id }}</label>
        <input class="form-control" id="gols_time1" name="gols_time1" type="text" value="{{aposta.placar_time1}}">
      </div>
      <div class="col-xs-1">
        <label for="gols_time2">{{ r.time2_id }}</label>
        <input class="form-control" id="gols_time2" name="gols_time2" type="text" value="{{aposta.placar_time1}}">                      
      </div>
      <div class="col-xs-1">
        <label for="pontuacao">Valor da Aposta</label>
        <input class="form-control" id="pontuacao" name="pontuacao" type="text" value="{{aposta.pontuacao}}">                      
      </div>      
      <input class="btn btn-info btn-sm" type="submit" name="" value="Apostar">          
    </div>
  </form>      
      <a class="btn btn-success" href="{{ url_for("partida_update", id=r.id)}}">Edit</a>      
      <a class="btn btn-danger" href="{{ url_for("partida_delete", id=r.id)}}">Delete</a>  
<!--      <a class="btn btn-info" href="{{ url_for('aposta_add', partida_id=r.id) }}">Apostar</a> -->
  {% else %}
  <div class="card">
    <div class="card-block">
      <p class="card-text text-justify">Local: {{r.local}}</p>
      <p class="card-text text-justify">Jogo: {{ r.time1_id }} Vs {{ r.time2_id }}</p>
      <p class="card-text text-justify">Placar: {{ r.placar_time1 }} X {{ r.placar_time2 }}</p>
      {% if aposta.partida is equalto r %}
      <p class="card-text text-justify">Sua Aposta: {{ aposta.partida.id }} - {{ r.id }}</p>
      {% endif %}
    {% endif %}        
    </div>
  </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}