{% extends "base.html" %}

{% block content %}

<h3>Editar Time</h3>

{% if time %}

<div class="form">

  <form class="form-group" action="" method="POST">

    <div class="row">
      <div class="col-12">
        <label for="exampleInputPassword1">Sigla</label>
        <input type="text" class="form-control" name="sigla" value="{{ time.sigla }}" id="exampleInputPassword1" placeholder="Sigla">
      </div>

      <div class="col-12">
        <label for="exampleInputPassword2">Nome</label>
        <input type="text" class="form-control" name="nome" value="{{ time.nome }}" id="exampleInputPassword2" placeholder="Nome">
      </div>

      </div>
    </div>
    <br>
    <br>
    <input class="btn btn-info" type="submit" name="" value="Edit">

  </form>

</div>

{% endif %}

{% endblock %}
