{% extends "base.html" %}

{% block content %}

<h3>Editar Aposta</h3>

{% if aposta %}

<div class="form">

  <form class="form-group" action="" method="POST">

    <div class="row">
      <div class="col-12">
        <label for="exampleInputPassword1">Aposta</label>
        <input type="text" class="form-control" name="title" value="{{ aposta.id }}" id="exampleInputPassword1" placeholder="Name">
      </div>

      <div class="col-12">
        <label for="exampleTextarea">Conteudo</label>
        <textarea class="form-control" rows="12" id="exampleTextarea" name="conteudo" rows="3">{{ aposta.id }}</textarea>
      </div>
    </div>
    <br>
    <br>
    <input class="btn btn-info" type="submit" name="" value="Edit">

  </form>

</div>

{% endif %}

{% endblock %}
