<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Fira+Mono|Open+Sans|VT323" rel="stylesheet">
  <title>Flask</title>
</head>
  {% block script %}
  {% endblock %}
<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for("index") }}">Bolão da Copa</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('index') }}">Usuários<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('time_view') }}">Times</a>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('time_view') }}">Partidas</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('time_view') }}">Apostas</a>
          </li>          
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% else %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('sign') }}">Register</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        {% endif %}          
      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <p class="">
      Bolão da copa do mundo 2018!
    </p>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="list-group">
      {% for message in messages %}
      <li class="list-group-item flashed">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

  </div>

  <div class="container">

    {% block content %}


    {% endblock %}

  </div>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for("static", filename="css/master.css") }}">

</body>
</html>
