{% extends "base.html" %}

{% block content %}


<div class="form">

  <form class="form-group" action="{{ url_for("sign") }}" method="POST">

<div class="">

    <h3 class="col-10 text-right">Sign</h3>

    <div class="row">
      <div class="col-4">
        <label for="exampleInputName">Name</label>
        <input type="text" class="form-control" name="name" id="exampleInputName" placeholder="Name">
      </div>
      <div class="col-6">
        <label for="exampleInputUsername">Username</label>
        <input type="text" class="form-control" name="username" id="exampleInputUsername" placeholder="Username">
      </div>
      <div class="col-10">
        <label for="exampleInputEmail">Email</label>
        <input type="text" class="form-control" name="email" id="exampleInputEmail" placeholder="Email">
      </div>
      <div class="col-10">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
      </div>

    </div>
    <br>
    <input class="btn btn-danger" type="submit" name="" value="Sign">

  </form>
</div>

</div>


</div>




{% endblock %}
