{% extends "base.html" %}

{% block content %}
<h3>Adicionar Time</h3>

<div class="form">
<form class="form-group" action="{{ url_for('time_add') }}" method="POST">
    <div class="row">
      <div class="col-12">
        <label for="exampleInputPassword1">Sigla</label>
        <input type="text" class="form-control" name="sigla" id="sigla" placeholder="Sigla">
      </div>

      <div class="col-12">
        <label for="exampleInputPassword1">Nome</label>
        <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome">
      </div>

    </div>
    <br>
    <input class="btn btn-info" type="submit" name="" value="Times">
  </form>
</div>

{% endblock %}
